<footer class="footer bg-dark py-3 mt-auto">
    <div class="container">
        <span class="text-muted">&copy; College-Duniya 2023</span>
        <span class="text-muted center">Made by AniArya</span>
    </div>
</footer>